---
layout: default
---

<main class="home">
  <section class="primary bg-dark-gray">
    <div class="wrapper">
    	<h1 class="tagline tagline-light">I create <strong>websites</strong>, <strong>apps</strong>, and <strong>software</strong><br class="hide-small"/> blending great design with powerful application.</h1>
      <div class="actions">
        <a href="/work" class="btn btn-primary">Check Out My Work</a>
        <a href="#get-in-touch" class="btn btn-secondary">Get In Touch</a>
      </div>
    </div>

    <div class="bg-image-caption">Currently in Orange County, CA</div>

    {% image james_andrew_kerr.jpg class="section-overlap-img" %}
  </section>

  <section>
  	<div class="wrapper">
    	<h2 class="tagline tagline-dark">I want to help you <strong class="green">grow your business.</strong></h2>
    </div>
  </section>

  <div class="service-panel bg-light-gray">
    <div class="wrapper service">
      <div class="service-icon">
        {% include svg/website.svg %}
      </div>
      <section>
        <h3>Website Design</h3>
        <p>Your website is home base.<br /> Let's make it awesome.</p>
      </section>
    </div>
  </div>

  <div class="service-panel">
    <div class="wrapper service">
      <div class="service-icon">
        {% include svg/social.svg %}
      </div>
      <section>
        <h3>Social Strategies</h3>
        <p>Connect with your target audience. <br />Expand your reach.</p>
      </section>
    </div>
  </div>
        
  <div class="service-panel bg-light-gray">
    <div class="wrapper service">
      <div class="service-icon">
        {% include svg/seo.svg %}
      </div>
      <section>
        <h3>SEO</h3>
        <p>Get to the top of the search results.<br /> Stand out from the crowds.
        </p>
      </section>
    </div>
  </div>

  <section id="get-in-touch" class="contact-section content bg-dark-gray">
    <div class="wrapper contact-form">
      <h3 class="tagline">Let's chat.</h3>
      <a class="contact-section--email" href="mailto:jkerr838@gmail.com">jkerr838@gmail.com</a>
    </div>
  </section>
</main>
