---
layout: default
title: Recent Work
description: "James Kerr's design and development portfolio."
---

<main class="work">
	<div class="masthead">
		<div class="wrapper content">
			<h1>Recent Work</h1>
		</div>
	</div>

	<div class="wrapper content">
		{% for work in site.data.work %}
		<section class="work-item">
			<div class="work-item--info">
				<h2 class="work-item--title">{{work.title}}</h2>
				<p class="work-item--description">{{work.description}}</p>
				{% if work.link %}
					<a href="{{work.link}}" class="btn btn-primary">Visit</a>
				{% endif %}
				{% if work.source %}
					<a href="{{work.source}}" class="btn btn-secondary">View Source</a>
				{% endif %}
			</div>
			<div class="work-item--photo">
				<a href="{% if work.link %}{{work.link}}{% else %}{{work.source}}{%endif %}" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('{{ work.photo | asset_path }}'); background-size: 0, cover;">
					<span></span>
				</a>
			</div>
		</section>
		{% endfor %}
	</div>
</main>
