$header-font: "droid-sans", sans-serif;
$body-font: "droid-sans", serif;

body {
	font-family: $body-font;
	font-weight: 100;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $header-font;	
}

.green {
	color: $green;
}

.dark-gray {
	color: $dark-gray;
}

svg {
	width: 24px;
	height: 24px;
}

a {
	text-decoration: none;
	color: $green;
}

.content {
	p, ul, li {
		font-size: 20px;
		line-height: 30px;
	}
}


.btn { 
	min-height: 40px;
	line-height: 40px;
	padding: 0 20px;
	display: inline-block;
	color: white;
	border-radius: 0px 0px 2px 2px;
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.1);
	position: relative;
	border: none;
	&:active {
		top: 3px;
	}
}

.btn-primary {
	background: $green;
	border-bottom: 3px solid darken($green, 20%);
	&:hover {
		background: lighten($green, 8%);
		border-bottom: 3px solid darken($green, 15%);
	}
	&:active {
		background: $green;
		border-bottom: none;
	}
}

.btn-secondary {
	color: $dark-gray;
	background: $light-gray;
	border-bottom: 3px solid darken($light-gray, 18%);
	&:hover {
		background: lighten($light-gray, 10%);
		border-bottom: 3px solid darken($light-gray, 9%);
	}
	&:active {
		background: $light-gray;
		border-bottom: none;
	}
}

.field {
	margin-bottom: 16px;
}

.field label {
	display: block;
	margin-bottom: 6px;
}

.form-control {
	display: block;
	width: 100%;
	border: none;
	color: $dark-gray;
	padding: 10px;
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
	background: $light-gray;
}

.masthead {
	background-image: image-url('oc.jpg');
	background-size: cover;
	background-position: top;
	padding: 30px 0;
	color: white;
	font-size: 150%;
	text-align: left;
	margin-bottom: 60px;
	box-shadow: inset 0px -6px 3px -3px rgba(0,0,0,0.3);
	position: relative;
	&:before {
		background: rgba(0,0,0,0.6);
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}

	& > * {
		position: relative;
	}
}
