#nav-menu {
	@include bp($xs) {
		display: none;
	}
}

.drawer-overlay {
	opacity: 0;
	transition: opacity 2s;
	&.drawer-overlay__on {
		background: $black;
		z-index: 888;
		position: fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		position: fixed;
		opacity: 0.8;
		transition: opacity 200ms;
		display: block;
		@include bp($xs) {
			display: none;
		}
	}
}

.site-header {
	border-bottom: 6px solid $green;
	height: 80px;

	@include bp($xs) {
		height: 120px;
	}
}

.site-header .wrapper {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-title {
	font-size: 32px;
	text-decoration: none;
	color: $dark-gray;
	font-weight: thin;
	font-family: "museo-sans", sans-serif;

	.k {
		color: $green;
		letter-spacing: -2px;
		font-weight: bold;
	}

	@include bp($xs) {
		font-size: 36px;
	}

	@include bp($s) {
		font-size: 48px;
	}
}

.site-header .site-nav {
	$drawer-width: 240px;
	background: white;
	position: fixed;
	top: -$drawer-width / 2;
	right: -$drawer-width;
	width: $drawer-width;
	z-index: 999;
	border-radius: 0 0 0 5px;

	@include bp($xs) {
		box-shadow: none;
		width: auto;
		position: static;
		background: none;
	}
}

.site-header .site-nav.site-nav__open {
	transition: right 200ms ease-in-out, top 200ms ease-in-out;
	top: 0;
	right: 0;
	overflow-y: scroll;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.site-header .site-nav ul {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 0;
	height: 100%;
	li { margin-bottom: 3px; }
	li:last-child { margin-bottom: 0; }

	@include bp($xs) {
		margin: 0;
		border-top: none;
		width: 260px;
		height: auto;
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
	}

	@include bp($s) {
		width: 360px;
	}
}

.site-header .site-nav a {	
	font-size: 120%;
	padding: 30px 0;
	text-align: center;
	box-shadow: 0 1px 1px rgba(0,0,0,0.5);

	@include bp($xs) {
		box-shadow: none;
		padding: 0;
		font-size: 80%;
	}

	@include bp($s) {
		font-size: 100%;
	}
}

.site-nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: $green;
	display: inline-block;
	width: 100%;
	&:hover { text-decoration: underline; }

	@include bp($xs) {
		box-shadow: none;
		font-size: 80%;
		width: auto;
		padding: 0;
		margin: 0;
		display: inline;
		border-bottom: none;
		background: none;
		box-shadow: none;
	}

	@include bp($s) {
		font-size: inherit;
	}
}

.site-header .site-nav .slash {
	color: $dark-gray;
	display: none;
	@include bp($xs) {
		display: inline;
	}
}

.site-nav .active {
	position: relative;
	a { color: $dark-gray; }
	
	&:before {
		position: absolute;
		width: 100%;
		height: 2px;
		background: $dark-gray;
		bottom: 0;
		left: 0;
	}
	@include bp($xs) {
		&:before {
			content: '';
		}
	}
		
}


/* Small Site Nav
---------------------------------------- */
