main.home {
	padding-bottom: 0;
}

.home > section {
	text-align: center;
	position: relative;
	padding: 120px 0 80px 0;
}

.bg-dark-gray {
	background: $dark-gray;
	color: white;
}

.bg-light-gray {
	background: $light-gray;
}

.home .primary {
	padding: 120px 0;
	background-image: image-url('catalina.jpg');
	background-size: cover;
	background-position: top;
	position: relative;
	&:before {
		background: rgba(0,0,0,0.6);
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}

.primary .bg-image-caption {
	position: absolute;
	font-size: 9px;
	font-style: italic;
	width: 20%;
	color: $light-gray;
	right: 0;
	bottom: 2%;
}

.home .section-overlap-img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 3px solid $green;
	position: absolute;
	z-index: 1;
	left: 50%;
	bottom: 0%;
	margin-left: -100px;
	margin-bottom: -100px;
}

.home .tagline {
	position: relative;
	font-size: 32px;
	line-height: 46px;
}

.home .actions {
	margin: 50px 0;
	position: relative;

	.btn {
		margin-bottom: 10px;
	}
}

.home .services {
	display: flex;
	flex-direction: column;
}

.home .service-icon {
	border: 1px solid $dark-gray;
	border-radius: 50%;
	width: 140px;
	height: 140px;
	vertical-align: middle;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	svg {
		width: 80px;
		height: 80px;
	}
}

.home .service-panel:nth-child(even) {
	@include bp($s) {
		.service-icon {
			order: 2;
		}
	}
}

.home .service {
	padding: 70px 0;
	display: flex;
	text-align: center;
	align-items: center;
	flex-flow: column;
	justify-content: space-around;
	max-width: $m;

	@include bp($s) {
		flex-flow: row wrap;
	}
}

.home .service section {
	width: 100%;
	@include bp($s) {
		width: 50%;
	}
}

.home .service h3 {
	font-size: 42px;
	font-weight: normal;
	margin-bottom: 0;
}

.home .service p {
	font-size: 18px;
	color: $green;
}

.home .contact-section {
	padding: 70px 0 140px 0;
	border-top: $green solid 3px;

	h3 {
		margin-bottom: 80px;
	}
	.contact-section--email {
		font-size: 24px;	
		// @include bp($s) {
		// 	font-size: 42px;	
		// }
	}
}


	

